<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FixIt{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>

    <!-- <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #d3ff8d;">
        <div class="container-fluid">
         
          <a class="navbar-brand" href="{% url 'home' %}" style="color: #005000; text-decoration: none; font-weight: 600;">
            <img src="{% static 'images/logo.svg' %}" alt="City of Tshwane Logo" width="30" height="30" class="d-inline-block align-text-top">
            City of Tshwane
          </a>
      
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if user.role == 'resident' %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: #005000; font-weight: 500;">
                    Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'report_fault' %}" style="color: #005000; font-weight: 500;">
                    Report a Fault</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'appointment_list' %}" style="color: #005000; font-weight: 500;">
                    View Appointment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'list_reports' %}" style="color: #005000; font-weight: 500;">
                    Track Status</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #005000; font-weight: 500;">
                    Contact Us</a>
                </li>
              {% elif user.role == 'employee' %}
              {% elif user.role == 'admin' %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: #005000; font-weight: 500;">
                    Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/admin/" style="color: #005000; font-weight: 500;">
                    Open Database</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'list_reports' %}" style="color: #005000; font-weight: 500;">
                    View Reports</a>
                </li>
              {% endif %}
            </ul>
      
            
            <form class="d-flex" action="#" method="GET">
              <input class="form-control me-2" type="search" name="query" placeholder="Search reports" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
      
            
            <ul class="navbar-nav mb-2 mb-lg-0 ms-3">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="#" style="color: #005000; font-weight: 500;">My Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}" style="color: #005000; font-weight: 500;">Logout</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}" style="color: #005000; font-weight: 500;">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'register' %}" style="color: #005000; font-weight: 500;">Sign Up</a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
       -->
      
       <header class="navbar sticky-top flex-md-nowrap p-0 shadow" style="background-color: #d3ff8d;" >
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
          <img src="{% static 'images/logo.svg' %}" alt="City of Tshwane Logo" width="30" height="30" class="d-inline-block align-text-top">
          City of Tshwane
        </a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
          
          
          {% if user.is_authenticated %}
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="#" style="color: #005000; font-weight: 500;">My Profile</a>
            </li>
            <li class="nav-item text-nowrap">
              <a class="nav-link" href="{% url 'logout' %}" style="color: #005000; font-weight: 500;">Logout</a>
            </li>
          {% else %}
            
            <div class="nav-item text-nowrap">
              <a class="nav-link px-3" href="{% url 'login' %}" style="color: #005000; font-weight: 500;">Login</a>
            </div>

            <div class="nav-item text-nowrap">
              <a class="nav-link px-3" href="{% url 'register' %}" style="color: #005000; font-weight: 500;">Sign Up</a>
            </div>

          {% endif %}
        </div>
      </header>

      <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                {% if user.role == 'resident' %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: #005000; font-weight: 500;">
                        Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'report_fault' %}" style="color: #005000; font-weight: 500;">
                        Report a Fault</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'appointment_list' %}" style="color: #005000; font-weight: 500;">
                        View Appointment</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'list_reports' %}" style="color: #005000; font-weight: 500;">
                        Track Status</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" style="color: #005000; font-weight: 500;">
                        Contact Us</a>
                    </li>
                  {% elif user.role == 'employee' %}
                  {% elif user.role == 'admin' %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: #005000; font-weight: 500;">
                        Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="http://127.0.0.1:8000/admin/" style="color: #005000; font-weight: 500;">
                        Open Database</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'list_reports' %}" style="color: #005000; font-weight: 500;">
                        View Reports</a>
                    </li>
                  {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Customers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Integrations
                  </a>
                </li>
              </ul>
      
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Saved reports</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Current month
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Last quarter
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Social engagement
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Year-end sale
                  </a>
                </li>
              </ul>
            </div>
          </nav>


          <!-- Main Content -->
          <main class="content col-md-9 ms-sm-auto col-lg-10">
              {% block content %}
              {% endblock %}
          </main>
        </div>
      </div>

    
    <footer class="footer">
        <p>&copy; 2024 FixIt. All Rights Reserved.</p>
    </footer>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
