

.navbar {
    background-color: #333;
    color: rgb(2, 62, 1);
    padding: 1em 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1em;
}

.navbar > a {
    color: rgb(2, 62, 1);
    text-decoration: none;
    margin-right: 1em;
} 

.navbar a:hover {
    text-decoration: underline;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 1em;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #49ff3c27;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
} 
